{
    "settings": {
        "primaryPort": ${ZEROTIER_SETTING_PRIMARYPORT},
        "portMappingEnabled": ${ZEROTIER_SETTING_PORTMAPPINGENABLED},
        "softwareUpdate": "${ZEROTIER_SETTING_SOFTWAREUPDATE}",
        "softwareUpdateChannel": "${ZEROTIER_SETTING_SOFTWAREUPDATECHANNEL}",
        "softwareUpdateDist": ${ZEROTIER_SETTING_SOFTWAREUPDATEDIST},
        "interfacePrefixBlacklist": ${ZEROTIER_SETTING_INTERFACEPREFIXBLACKLIST},
        "allowManagementFrom": ${ZEROTIER_SETTING_ALLOWMANAGEMENTFROM},
        "allowTcpFallbackRelay": ${ZEROTIER_SETTING_ALLOWTCPFALLBACKRELAY}
    }
}
